.about {
  background-image: url("https://laurenonlinehome.files.wordpress.com/2019/02/how-to-blog.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 90vh;
  margin-bottom: 20px;
}
